/**
 * @name         BT7-BlackHole
 * @description  Imagine blackhole with BTS!
 * @author       DinoTae
 * @version      7.0
 * @source       https://www.youtube.com/watch?v=4uyWIVexh3c&ab_channel=KMusik
 * @authorId     326434531672457226
 */
 
@import url("https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css");
@import "https://fontlibrary.org/face/horta"; /* 'HortaRegular' */
@import "https://monstrousdev.github.io/themes/addons/user-tags.css";
/* @import "https://monstrousdev.github.io/themes/addons/filter.css"; */
@import "https://themonstrousdev.github.io/styles/google-fonts.css";

/*
                                                                                                     
✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
      ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
      ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
 /$$$$$$$  /$$                     /$$             /$$   /$$           /$$          
| $$__  $$| $$                    | $$            | $$  | $$          | $$           
| $$  \ $$| $$  /$$$$$$   /$$$$$$$| $$   /$$      | $$  | $$  /$$$$$$ | $$  /$$$$$$ 
| $$$$$$$ | $$ |____  $$ /$$_____/| $$  /$$/      | $$$$$$$$ /$$__  $$| $$ /$$__  $$
| $$__  $$| $$  /$$$$$$$| $$      | $$$$$$/       | $$__  $$| $$  \ $$| $$| $$$$$$$$
| $$  \ $$| $$ /$$__  $$| $$      | $$_  $$       | $$  | $$| $$  | $$| $$| $$_____/
| $$$$$$$/| $$|  $$$$$$$|  $$$$$$$| $$ \  $$      | $$  | $$|  $$$$$$/| $$|  $$$$$$$
|_______/ |__/ \_______/ \_______/|__/  \__/      |__/  |__/ \______/ |__/ \_______/
✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧       ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
      ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
      ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧
✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧                      
✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     (c) Lil Monster#3557      ✧･ﾟ: *✧･ﾟ:* 　　 *:･ﾟ✧*:･ﾟ✧     ✧･ﾟ: *✧･ﾟ:*


*/


/* *•̩̩͙⊱••••••••••••✩ VARIABLES ✩••••̩̩͙⊰•••••••••** */
:root {
	--theme-name: "Black Hole";
  --theme-version: "1.5";
  --blurple: rgb(113, 136, 217);
  --greyple: rgb(151, 168, 180);
  --blurple-sheer: rgba(114, 137, 218, 0.267);
  --greyple-sheer: rgba(151, 168, 180, 0.267);
  --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
  --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
  --roundness: 50px;
  --uno: rgb(25, 25, 27);
  /* primary background color */
  --dos: rgb(30, 30, 33);
  /* secondary background color */
  --tres: rgb(35, 35, 39);
  /* tertiary background color */
  --quatro: rgb(16, 16, 17);
  /* quaternary background color */
  --sheer: rgba(0,0,0,0.6);
  --veil: rgba(100, 100, 100, 0.2);


  --online: rgb(67, 181, 129);
  --online-sheer: rgba(67, 181, 129, 0.267);
  /* color for online status */
  --idle: rgb(250, 166, 26);
  --idle-sheer: #faa61a44;
  /* color for idle status */
  --dnd: rgb(240, 71, 71);
  --dnd-sheer: rgba(240, 71, 71, 0.267);
  /* color for dnd status */
  --offline: rgb(99, 107, 117);
  --offline-sheer: rgba(99, 107, 117, 0.267);
  /* color for offline status */
  --invisi: rgb(116, 127, 141);
  --invisi-sheer: rgba(116, 127, 141, 0.267);
  /* color for invisible status - Note this will only show for your own invisibility */
  --streaming: rgb(100, 61, 167);
  --streaming-sheer: rgba(100, 61, 167, 0.267);
  /* color for streaming status */

}

/* ==== TABLE OF CONTENTS ====
*  ========== STATIC ==========
*  I. App Window
*  II. Title Bar
*  III. Channel Area
*     A. Channels Header
*     B. Channel Groups and Individual Channels
*     C. User Settings and Voice Connection
*     D. Private Channels
*     
*  IV. Guilds Area
*     A. Guilds Header
*     B. Guild Styles
*     C. Guild Folders
*
*  V. Pages
*     A. Main Areas
*       1. Embeds, Code Blocks, and Invites
*       2. Login Page
*       3. Download Discord
*     B. Members List
*     C. Top Bar & Typing Status
*     D. Cards and Tiles
*     E. Buttons, Switches, and Bars
*     F. Change SVGs
*
*  VI. Top Layers
*  VII. ScrollBars
*
*
*
*
*  ========== MODALS AND POPOUTS ==========
*  VIII. Menus
*     A. Server Menu
*     B. User Status
*     C. Context Menu
*     D. Dropdown Menus
*  IX. Popouts
*     A. User Popout
*     B. Message Popout
*     C. Search Popout & Results
*     D. Attach Popout, Add Game popout
*     E. Tooltips & Notices
*     F. Autocomplete & Everyone Popout
*     G. Gift Nitro and Gif Picker
*     H. Emoji Picker
*     I. Game Preview
*     J. Add Roles Popout & Roles Overflow
*     K. RTC Connection
*     L. Stream Popout
*     M. Follow Channel
*     
*  X. Modals
*     A. User Modal
*     B. Upload Modal 
*     C. Join Guild Modal
*     D. Messages Modal, Games Download Modal, Screenshare
*     E. Incoming Call & Phone Verification
*     F. Reactions Modal & Server Invite Modal
*     G. Gift Modal
*  XI. Keyframes
*  XII. Custom CSS
*  XIII. Plugin Optimization
*     A. Ghost Ping
*     B. Permissions Viewer
*  XIV. Addon Optimization
*/


/* I. App Window */
#app-mount,
.container_a2f514,
.perksModalContentWrapper-2HU6uL {
  background: linear-gradient(var(--sheer), var(--sheer)),var(--black-hole) center/30% fixed;
}


#app-mount .app__160d8, 
#app-mount .app__160d8, 
#app-mount .layers__960e4,
#app-mount .layers__960e4,
.privateChannels_e6b769,
.container__5e434,
#app-mount .layer__960e4 ,
#app-mount .layer__960e4,
.bg__960e4,
.bg__960e4 {
  background-color: transparent;
}

/* II. Title Bar */
.wordmark__421ed svg {
  display: none;
}

.icon_f34534,
.recentsIcon_c99c29 {
    display: none !important;
}


.trailing_c38106 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.trailing_c38106:hover {
  opacity: 1;
}

.title__85643:not(.typeMacOS__421ed)::after {
  content: "𝒱";
  position: absolute;
  top: 5px;
  left: 10px;
  color: rgb(170, 170, 170);
  display: block;
  height: 16px;
  width: fit-content;
  pointer-events: none;
  font-size: 14px;
}

.winButtonMinMax__421ed:hover {
  background-color: #111;
}

.title_c38106 {
  background-color: transparent;
}



/* III. Channel Area */
  /* A. Channels Header */
#app-mount .channelNotice-tO6Tus {
  background-color: #111;
}

.container-3O_wAf,
.icon-1SdhiF {
  background: var(--black-hole) center/30% fixed;
}

.attachButton-1UjEWA {
  height: 100%;
}

#app-mount .channelNotices-41mJbj .channelNotice-tO6Tus .message-3KLVy1 .btn-38SvSS {
  background-color: #111;
  border-color: transparent;
  transition: all .2s ease-in-out;
}

#app-mount .channelNotices-41mJbj .channelNotice-tO6Tus .message-3KLVy1 .btn-38SvSS:hover {
  background-color: #111;
}

.container-PNkimc,
.animatedContainer_f37cb1,
.sidebar__5e434,
.scrollableContainer-38zsVD,
.channels-Ie2l6A {
  background-color: transparent;
}

.attachWrapper-1_D-pj {
  border-right: none;
}

#app-mount .bannerImage_f37cb1 {
background-color: var(--background-secondary) !important;
  border-radius: 5px 5px 0 0;
}

.container__2637a {
  background-color:transparent !important;
}

  /* B. Channel Groups and Individual Channels */
.containerDefault__29444, 
.containerDragAfter__29444, 
.containerDragBefore__29444, 
.containerUserOver__91b97 {
  padding-top: 20px;
}

.contentSelectedText-3wUhMi, 
.contentSelectedVoice-1WDIBM,
.contentConnectedVoice-qL-YrL,
.wrapper-2NJDcI,
.containerDefault_c69b6d.elected__3b4cb .wrapper__2ea32, 
.containerDefault_c69b6d.elected__3b4cb:hover .wrapper__2ea32 {
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
  color: #111
}

.containerDefault_c69b6d.elected__3b4cb .wrapper__2ea32 .name__2ea32 {
  color: #111;
}

.contentConnectedVoice-qL-YrL:active, 
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active,
#app-mount .listeningAlong-2UPsxf,
#app-mount .wrapper-1ucjTd:hover .wrapper__2ea32 {
  background-color: transparent;
}

.contentSelectedText-3wUhMi .icon-sxakjD, 
.contentSelectedVoice-1WDIBM .icon-sxakjD {
  opacity: 1;
  filter: brightness(100%);
}

.colorHoveredText-OZnAgu, 
.colorHoveredVoice-1kucsK,
#app-mount .wrapper-1ucjTd:not(.modeSelected-1zApJ_):hover .name-3_Dsmg,
#app-mount .wrapper-1ucjTd:not(.modeSelected-1zApJ_):hover svg {
  color: #111;
  opacity: 1;
}

.nameConnectedText-3CzNQn, 
.nameConnectedVoice-MHUX5F, 
.nameSelectedText-sp_EUw, 
.nameSelectedVoice-1qSph5,
.colorConnectedText-1c_uzY, 
.colorConnectedVoice-3kyvUN, 
.colorSelectedText-1y4Wvs, 
.colorSelectedVoice-Xcb_9R {
  color: currentColor;
}

.unread__3b95d {
  background-color: #111;  
  transition: background-color .2s ease-in-out;
}

.unread__3b95d:hover {
  background-color: #111;
}

.mention__3b95d {
  background-color: var(--dnd-sheer);
  transition: background-color .2s ease-in-out;
}

.mention__3b95d:hover {
  background-color: var(--dnd);
}

  /* C. User Settings and Voice Connection */
.info-1sUqUG::before {
  content: var(--theme-name)" v."var(--theme-version);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #111;
}

.panels__5e434 .container__37e49 {
  border-top: 1px solid var(--tres);
}

.container_e131a9,
.container__37e49,
.container-1UB9sr,
.payment_e9cb00,
.expandedInfo_e9cb00,
.panels__5e434 {
  background-color: transparent !important;
}

.container_e131a9,
.container__37e49 {
  border: none;
}

.hoverablePayment_e9cb00:hover,
.button__67645.enabled__67645:hover,
.titleContainer_e29cd7,
.header_c6bf1b {
  background: var(--quatro)  var(--stars) top left !important;
  background-attachment: fixed;
}

.notches_e5cdf3 {
  background: var(--quatro)  var(--stars) top left !important;
  background-attachment: fixed;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
  -webkit-mask-repeat: repeat-x;
}

.progress_e5cdf3 {
  background: var(--dos) !important;
}

.authedApp-1tw-eT,
.paginator__01014,
.container__841c8 {
  background: var(--sheer) !important;
}

.defaultIndicator__43963,
.paymentPane__01014,
#app-mount .defaultIndicator-2X8Auf,
#app-mount .gemIndicatorContainer_b03ca0 {
  background-color: var(--sheer) !important;
}

#app-mount .lookFilled__201d5.colorPrimary__201d5 {
  background-color: var(--uno) !important;
}

.users-i_3-kL {
  background-color: #111;
  color: white;
}

.total-3tKGEB {
  background-color: #111;
  color: white;
}

.total-3tKGEB::after {
  border-right-color: #111;
}

  /* D. Private Channels */
.searchBar_e6b769 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.scroller__99e7c {
  background: transparent;
}

.searchBar_e6b769 {
  background-color: transparent;
  border-color: var(--tres);
}

.privateChannels_e6b769 .searchBar_e6b769 .searchBarInner-1_Tg2R,
a.selected__91a9d .layout__91a9d, a.channel__972a0:hover,
.searchBar_e6b769 .searchBarComponent__35e86 {
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
}

/* DMs */
.thin__99f8c {
    background-color: transparent !important
}

/* IV. Guilds Area */
  /* A. Guilds Header */
#app-mount .guilds__5e434 {
  background-color: transparent;
  overflow: visible;
}

#app-mount .platform-osx .guilds__5e434 {
  margin-top: 60px;
}

.guilds__5e434 .scroller_ef3116::-webkit-scrollbar {
  display: none;
}

.container-2td-dC .wrapper-2lTRaf,
.scroller_ef3116 {
  background-color: transparent !important;
}

#app-mount .guilds__5e434 .scroller_ef3116 .tutorialContainer__1f388 .listItem__650eb .svg_cc5dd2 {
  height: 100% !important;
  width: 100% !important;
}

.scroller_ef3116 {
  padding: 0px;
}

.guilds__5e434 .scroller_ef3116>.listItem__650eb:first-child .pill-2uzAFe,
.homeIcon-FuNwkv path {
  display: none;
}

.pill-31IEus .item__58105 {
  background-color: #111;
}

#app-mount .button-OhfaWu {
  background-color: transparent;
}

#app-mount .guilds__5e434 .scroller_ef3116 .tutorialContainer__1f388 .listItem__650eb .wrapper_cc5dd2 .childWrapper_a6ce15 {
  background-color: transparent;
}

.homeIcon-FuNwkv {
  background-color: white;
  -webkit-mask: url(https://ellexidecodes.github.io/Discord-Themes/assets/home.svg);
  -webkit-mask-size: 45px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transform: scale(0.5);
  transition: background-color .2s ease-in-out;
  -webkit-mask-position: center;
  margin-left: 0px;
  height: 100% !important;
  width: 100% !important;
}

#app-mount .guilds__5e434 .scroller_ef3116 .tutorialContainer__1f388 .listItem__650eb .wrapper_cc5dd2.selected_ae80f7 .homeIcon-FuNwkv {
  background-color: #111 !important;
}

#app-mount .downloadProgressCircle-yTgLNF {
  top: 0px;
}

.circleBackground-1QJWqA {
  fill: #111;
  stroke: var(--greyple-sheer);
}

.guildIconContainer__85d16 {
  margin-top: 14px;
  transform: translateY(-50%);
}

  /* B. Guild Styles */
#app-mount .wrapper-2lTRaf {
    background: transparent;
  }
  
#app-mount .dragPlaceholder-D9-haY,
#app-mount .acronym_fb7739,
#app-mount .placeholderMask__87847 .dragInner__87847 {
  background-color: #111;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
} 

#app-mount .acronym_fb7739:hover {
  background-color: #111;
}

#app-mount .iconBadge__03991 {
  background-color: #111 !important;
  transition: all .2s ease-in-out;
}

.unread-2OHH1w:before {
  box-shadow: 2px 0px 10px #111;
}

.unread-2OHH1w.selected-nT-gM3::before {
  box-shadow: none;
}

.createJoinContainer-2Av064 {
  margin-bottom: 10px;
}

#app-mount .guildsError__32e67 {
  background: var(--dnd-sheer);
  border-color: transparent;
}

#app-mount .guildsError__32e67:hover {
  background: var(--dnd);
}

  /* C. Guild Folders */
#app-mount .folderGroupBackground__48112, 
#app-mount .folder-1hbNCn {
  background-color: transparent;
}

#app-mount .folderGroupBackground__48112::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 6px);
  width: 100%;
  opacity: 0.4;
  background-color: #111;
  border-radius: calc(var(--roundness)/5);
}

#app-mount .folder-1hbNCn [style*="rgba(114, 137, 218, 0.4)"] {
  background-color: transparent !important;
}

#app-mount svg[name="Folder"][style*="color: rgb(114, 137, 218)"] {
  color: #111 !important;
}

/* V. Pages */
  /* A. Main Areas */
/*.chat_f75fb0,
#app-mount .activityFeed-28jde9,
#app-mount .activityFeed-1C0EmJ,
#app-mount .gameLibrary-TTDw4Y,
#app-mount .container-3gCOGc,
#app-mount .applicationStore_f07d62,
#app-mount .pageWrapper_a3a4ce,
#app-mount .root-1BQpZw,
#app-mount .container__133bf,
.threadSidebar-1o3BTy {
  background-color: transparent !important;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
}*/

/* Stop the *entire* Discord app from scrolling */
html,
body {
  height: 100% !important;
  overflow: hidden !important;
}

/* Keep main app view fixed in place */
#app-mount {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Restore scrolling inside the chat itself */
.chat_f75fb0 {
  overflow-y: auto !important;
  height: 100% !important;
}

/* Keep your original style tweaks */
.chat_f75fb0,
#app-mount .activityFeed-28jde9,
#app-mount .activityFeed-1C0EmJ,
#app-mount .gameLibrary-TTDw4Y,
#app-mount .container-3gCOGc,
#app-mount .applicationStore_f07d62,
#app-mount .pageWrapper_a3a4ce,
#app-mount .root-1BQpZw,
#app-mount .container__133bf,
.threadSidebar-1o3BTy {
  background-color: transparent !important;
  margin-bottom: -55px;
  margin-right: 10px;
  border-radius: 10px;
}

.chat_f75fb0.threadSidebarOpen_f75fb0 {
  margin-right: 0px;
}

.tabBody__133bf {
  margin-bottom: 55px;
  overflow: visible;
  background: var(--quatro)  var(--stars) top left fixed !important;
}

.tabBody__133bf:before {
  top: unset;
  bottom: -55px;
  height: 55px;
  background: var(--veil) var(--stars) top left fixed !important;
}

.platform-linux .chat_f75fb0,
.platform-linux #app-mount .activityFeed-28jde9,
.platform-linux #app-mount .activityFeed-1C0EmJ,
.platform-linux #app-mount .gameLibrary-TTDw4Y,
.platform-linux #app-mount .container-3gCOGc,
.platform-linux #app-mount .applicationStore_f07d62,
.platform-linux #app-mount .pageWrapper_a3a4ce,
.platform-linux #app-mount .root-1BQpZw {
  margin-top: 10px;
}

.table_adb41f:only-child {
  padding-top: 50px;
}

#app-mount .messages-3amgkR,
.sidebarRegionScroller__23e6b,
.contentRegionScroller__23e6b,
.scroller__4a84a,
.scroller-5bBood,
.scroller__244e5,
.scroller_ff90b2,
[class*="scroller-"],
.scrollableContainer__74017,
.nowPlayingColumn__133bf,
.container__2637a,
.container__7d20c,
.section__00943,
.stageSection-3mAD8V {
  background-color: transparent;
}

#app-mount .noChannel__01d5c {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.searchHelpText-19imBp {
  margin-bottom: -20px;
}

.bg-AYqtMd {
  -webkit-mask: linear-gradient(rgb(0, 0, 0) 50%, transparent);
  mask: linear-gradient(rgb(0, 0, 0) 50%, transparent);
}

#app-mount .searchBox__56feb {
      background: var(--veil);
}

.videoControls_f316dd {
  padding-left: 0px;
  padding-right: 0px;
}

.bottomControls-UTyHwG, 
.topControls-Jnxmi6 .headerBar-qN9GBP {
  padding: 0 16px;
}

/* OLD CODE FOR CHANELTEXTAREA TO MAKE IT BLACK THE ISSUE*/
/*#app-mount .title_f75fb0, 
#app-mount .titleCall-_b9o8P,
#app-mount .headerBar-UHpsPw,
#app-mount .container__9293f,
#app-mount .header_adb41f,
#app-mount .chat_f75fb0 .channelTextArea_f75fb0,
#app-mount .friendsTable-133bsv .friendsRow-2yicud:hover,
#app-mount .video__94748 {
  background: var(--veil) var(--stars) top left !important;
  background-attachment: fixed;
}*/

/* CHANELTEXTAREA TO MAKE IT BLACK THE ISSUE*/
#app-mount .title_c38106, 
#app-mount .titleCall-_b9o8P,
#app-mount .headerBar-UHpsPw,
#app-mount .container__9293f,
#app-mount .header_adb41f,
#app-mount .chat_f75fb0 .channelTextArea_f75fb0,
#app-mount .friendsTable-133bsv .friendsRow-2yicud:hover,
#app-mount .video__94748 {
    --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
    --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
    --overlay-opacity: 0.1; /* Adjust overlay opacity (0 to 1) */

    background: 
        linear-gradient(rgba(127, 127, 127, var(--overlay-opacity)), rgba(127, 127, 127, var(--overlay-opacity))),
        var(--black-hole) center/cover fixed,
        var(--stars) repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}
/* END */


.wrapper_cb9592.minimum_cb9592,
.wrapper_cb9592,
#app-mount .outer_bf1984.interactive_bf1984:hover {
  background: var(--sheer) var(--stars) top left !important;
  background-attachment: fixed;
}

.scrollableContainer__74017 .inner__74017{
  margin-bottom: 0px;
}

.chat_f75fb0 .textArea__74017 {
  background-color: transparent !important;
  line-height: 1.25rem !important;
  margin-top: 8px;
}

.chat_f75fb0 .attachButton-1UjEWA,
.attachButton__0923f {
  margin: 5px;
}

.friendsTable-133bsv .friendsTableBody-1ZhKif {
  background: transparent;
}

.channelTextAreaDisabled-rZtG8r {
  opacity: 1;
}

#app-mount .children__9293f:after {
  display: none;
}

#app-mount .gameUpdates__49035 {
  background: linear-gradient(#111, transparent 80%), var(--veil) var(--stars) top left fixed;
}


#app-mount .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:not(:last-child) {
  background-color: var(--online-sheer)
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:not(:last-child):hover {
  background-color: var(--online)
}


.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:last-child {
  background-color: var(--dnd-sheer);
}


.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:last-child:hover {
  background-color: var(--dnd);
}

.gameLibrary-TTDw4Y>.libraryHeader__5a895+div+.scrollerWrap-2lJEkd>.scroller-2FKFPG {
  margin-top: 47px;
}

.stickyHeader_adb41f+.stickyHeader_adb41f {
  margin-top: -47px;
}

#app-mount .content_f75fb0,
#app-mount .chat_f75fb0 form .inner-zqa7da,
#app-mount .chat_f75fb0 form,
#app-mount .itemBackground-2vEldQ,
#app-mount .wrapper-29NfPK {
  background-color: transparent;
}

#app-mount .contentCozy-3XX413 .inner-zqa7da {
  background-color: var(--veil);
  border-radius: 3px;
}

#app-mount .divider__908e2 {
  border: none;
  margin-bottom: 10px;
}

#app-mount .divider__908e2 span {
  color: var(--greyple-sheer);
}

#app-mount .isUnread__908e2 .divider__908e2 span {
  color: var(--dnd-sheer);
}

#app-mount .divider-3gKybi:not(.isUnread__908e2) .divider__908e2 span:after {
  border-image: linear-gradient(to right, var(--greyple-sheer) 50%, transparent);
  border-image-slice: 1;
}

#app-mount .divider__908e2.isUnread__908e2 .unreadPillCap__908e2 {
  display: none;
}

#app-mount .divider__908e2 span {
  left: 0;
  right: unset;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  color: #111;
}

#app-mount .divider__908e2.isUnread__908e2.hasContent__908e2 .content__908e2 {
  margin-left: 30px;
}

#app-mount .divider__908e2.isUnread__908e2.hasContent__908e2 .content__908e2::before {
  content: " | ";
  margin-right: 10px;
}

#app-mount .divider__908e2.isUnread__908e2 span {
  color: var(--dnd);
}

#app-mount .divider__908e2:after {
  content: "";
  position: relative;
  flex: 1 0 auto;
  margin-left: 5px;
  height: 1px;
  border: 1px;
  background: linear-gradient(to right, #111 50%, transparent);
}

#app-mount .divider__908e2.isUnread__908e2:after {
  margin-left: 30px;
  background: linear-gradient(to right, var(--dnd-sheer) 50%, transparent);
}

#app-mount .divider__908e2.isUnread__908e2.hasContent__908e2:after {
  margin-left: 5px;
}

#app-mount .content_f75fb0 {
  border: 1px solid var(--quatro);
}

#app-mount .messagesWrapper-3lZDfY {
  background-color: transparent;
}


#app-mount .content_f75fb0,
#app-mount .activityFeed-28jde9m,
.gameLibrary-TTDw4Y .scrollerWrap-2lJEkd,
.friendsTable-133bsv,
.applicationStore_f07d62 .scrollerWrap-2lJEkd,
.activityFeed-1C0EmJ .scrollerWrap-2lJEkd,
.root-1BQpZw .scrollerWrap-2lJEkd,
#app-mount .noChannel__01d5c,
.submenu-1apzyU,
.threadSidebar-1o3BTy .chat_fb64c9 {
  background: var(--quatro)  var(--stars) top left !important;
  background-attachment: fixed;
}

.codeRedemption-2CtsK6,
#app-mount .emptyStateHeader-1ADtcL, 
#app-mount .header-2HrZI4 {
  padding: 0 20px;
}

.chat_f75fb0>.content_f75fb0 .messages-3amgkR .containerCozy-jafyvG:last-child,
.containerCompactBounded-cYR5cW:last-child {
  padding-bottom: 30px;
}

.chat_f75fb0 .channelTextArea_f75fb0 {
  margin: 0px 0 0 0px;
  padding: 0;
  border: none;
}

.channelTextArea_f75fb0.channelTextArea__74017 {
    margin-top: 10px !important; /* Adjusts the position downward */
}



.chat_f75fb0 .innerNoAutocomplete-1WpcVO {
  border-radius: 0px;
}


.chat_f75fb0 .textArea__74017 {
  background-color: transparent !important;
  line-height: 1.25rem !important;
  margin-top: 8px;
}

.buttons-205you {
  align-self: center;
}
/*OLD CODE FOR CHANNEL TEXT BAR SPACE*/
/*.chat_f75fb0 form,
.chat_f75fb0 .channelTextArea_f75fb0,
.innerNoAutocomplete-1WpcVO,
.innerAutocomplete-1PN280 {
  margin: 0;
  min-height: 55px;
  padding: 0;
  border-radius: 0;
}*/

.chat_f75fb0 form,
.chat_f75fb0 .channelTextArea_f75fb0,
.innerNoAutocomplete-1WpcVO,
.innerAutocomplete-1PN280 {
  margin: 0;
  min-height: 0px;
  padding: 0;
  border-radius: 0;
}

.sansAttachButton__74017:not(.innerDisabled__37f59) {
  padding-left: 0px
}

.sansAttachButton__74017 > .textArea__74017 {
  margin-left: 16px;
}

.form_f75fb0:before {
  display: none;
}

.gatedContent__7184c::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 101.5%;
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
}

.applicationStore_f07d62 .gatedContent__7184c::after {
  display: none;
}

    /* 1. Embeds, Code Blocks, and Invites */
   /* OLD CODE
#app-mount .markup__75297 pre,
#app-mount .wrapper_d5f3cd,
#app-mount .embedInner-1-fpTo,
#app-mount .messageGroupBlocked_e72673 .messageGroupBlockedBtn__60e77,
.embedFull__623de,
.textContainer__4d95d {
  background: var(--uno) var(--stars) top left;
  background-attachment: fixed;
  border-color: var(--tres)
}
*/

/* NEW CODE */
#app-mount .markup__75297 code,
#app-mount .wrapper_d5f3cd,
#app-mount .embed__623de,
#app-mount .messageGroupBlocked_e72673 .messageGroupBlockedBtn__60e77,
.embedFull__623de,
.textContainer__4d95d {
    --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
    --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
    --overlay-opacity: 0.2; /* Adjust overlay opacity (0 to 1) */

    background: 
        linear-gradient(rgba(127, 127, 127, var(--overlay-opacity)), rgba(127, 127, 127, var(--overlay-opacity))),
        var(--black-hole) center/cover fixed,
        var(--stars) repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}
/*END*/

.modalTextContainer__4d95d {
  background: var(--uno) var(--stars) top left fixed;
}

.footer__4d95d {
  background-color: #111;
  border-color: var(--tres);
}

#app-mount .messageGroupBlocked_e72673.revealed-1_RKsf {
  background: linear-gradient(var(--dnd-sheer), transparent 80%),var(--uno) var(--stars) top left fixed;
  border-color: var(--tres)
}

#app-mount .markup__75297 code, 
#app-mount .markup__75297 code.inline,
#app-mount .messageGroupBlocked_e72673.revealed-1_RKsf .messageGroupBlockedBtn__60e77,
#app-mount .bodySection_ae0d90 {
  background: transparent;
}

.aka-1mqp34,
#app-mount .akaBadge__27cd4,
#app-mount .spoilerText-27bIiA.hidden-3B-Rum,
.wrapper_f7ecac {
  background: #111;
}

#app-mount .spoilerText-27bIiA {
  background: var(--sheer);
  padding: 0 5px;
}

#app-mount .partyMemberOverflow_e45a82,
#app-mount .guildIconEmptyBackground-14tfYf,
#app-mount .overflow-3zpvTV {
  background-color: #111;
}

#app-mount .guildIconEmptyIcon-rSyLPf,
#app-mount .partyMemberOverflow_e45a82,
#app-mount .overflow-3zpvTV {
  color: white;
}


.smallCarousel_cbfa93 {
  background: var(--sheer);
  border-radius: 5px;
}

#app-mount .jumpToPresentBar__0f481 button:first-of-type {
  display: none;
}

#app-mount .chat_f75fb0 .jumpToPresentBar__0f481 {
  background-color: #111;
  bottom: 15px;
  border-radius: 20px;
  right: 50px !important;
  width: auto !important;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
  left: auto !important;
  animation: slide-up .7s cubic-bezier(.4, 0, 0, 1), opacity .7s ease;
  padding: 3px 0;
}

#app-mount .chat_f75fb0 .jumpToPresentBar__0f481:before {
  content: "";
  width: 20px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0wIDEyVjBoMTJ2MTIiLz4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik01LjI0ODI5MTAyIDJ2NS4yMTg2ODg5NkwzIDUgMiA2bDQgNCA0LTQtMS0xLTIuMjg0MTE4NjUgMi4yMTg2ODg5NlYyIi8+CiAgPC9nPgo8L3N2Zz4=) 50% no-repeat;
  margin-right: -15px;
  padding-left: 10px;
  transition: all .2s ease-in-out;
}

#app-mount .chat_f75fb0 .jumpToPresentBar__0f481 button:last-child {
  text-align: center;
  font-family: Montserrat;
  font-size: 11px;
}

#app-mount  .chat_f75fb0 .jumpToPresentBar__0f481 .spinner__46696 {
  margin-left: 20px !important;
  margin-top: 10px;
  padding-right: 15px;
  margin-bottom: 10px;
  -ms-transform: scale(1.3);
  transform: scale(1.3)
}

#app-mount .chat_f75fb0 .newMessagesBar__0f481 {
  background-color: #111;
}

#app-mount .chat_f75fb0 .newMessagesBar__0f481:hover {
  background-color: #111;
}

#app-mount .chat_f75fb0 .hasMore-3e72_v {
  background: var(--quatro) var(--stars) top left;
  background-attachment: fixed;
  border: 1px solid var(--quatro);
  color: #111;
}

  /* 2. Login Page */
.rightSplit_a50b20 img,
.canvas_a950cf {
  display: none;
}

.rightSplit_a50b20 {
  background: linear-gradient(#111, transparent 80%), var(--quatro) var(--stars) top left fixed;
  -webkit-mask: url(https://ellexidecodes.github.io/Discord-Themes/assets/bubbleMask.png) top/100% no-repeat;
  animation: slide-in 1.5s cubic-bezier(.4, 0, 0, 1.3) forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-5%);
  }
}

.wrapper_eebc2d {
  background: linear-gradient(transparent, #111 80%)
}

.authBox_dc6abe {
  background: linear-gradient(var(--greyple-sheer), transparent 80%), var(--uno) var(--stars) top left fixed;
}

  /* 3. Download Discord */
#app-mount .backdrop__1a911[style*="background-color: rgb(255, 255, 255)"] {
  background: linear-gradient(transparent, #111 80%), var(--quatro) var(--stars) top left fixed !important;
}

  /* 4. Light Theme Alert */
[class*="platform-"].theme-light::after {
  content: 'Light does not scatter in space. Please turn dark theme back on.';
  line-height: 30px;
  text-align: center;
  white-space: pre;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-40%);
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 1px 2px 1px rgb(0, 0, 0);
  font-size: 15px;
  background: var(--dnd-sheer) var(--stars) top left fixed;
  z-index: 500;
  pointer-events: none;
  animation: lightTheme 1s cubic-bezier(.4, 0, 0, 1.3) forwards;
  border-radius: 5px;
  border: 2px solid var(--dnd);
  font-family: "Whitney";
}

@keyframes lightTheme {
  from {
    top: -50%;
  }
}

#app-mount .theme-light .itemSubMenu-1vN_Yn:nth-child(16) .theme-light.contextMenu-HLZMGh .item-1Yvehc:first-child,
#app-mount .theme-light .preview-rua1rr+.marginTop40_fd297e .radioGroup-1GBvlr:nth-child(2) .cardPrimaryEditable-2mz_3i:nth-child(2) {
  color: white;
  background-color: var(--dnd-sheer);
  border-color: var(--dnd);
  box-shadow: 0 0 20px var(--dnd);
}

  /* B. Members List */
#app-mount .container_c8ffbb {
  background-color: transparent;
}

#app-mount .membersWrap_c8ffbb,
#app-mount .members_c8ffbb .content__99f8c {
  height: 100% !important;
}

#app-mount .members_c8ffbb {
  background-color: transparent;
  margin-bottom: 55px;
}

.members_c8ffbb>div {
  background-color: transparent;
}

/* OLD CODE for member list issue */
/*#app-mount .membersWrap_c8ffbb::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
}*/

#app-mount .membersWrap_c8ffbb::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
    --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
    --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
    --overlay-opacity: 0.1; /* Adjust overlay opacity (0 to 1) */

    background: 
        linear-gradient(rgba(127, 127, 127, var(--overlay-opacity)), rgba(127, 127, 127, var(--overlay-opacity))),
        var(--black-hole) center/cover fixed,
        var(--stars) repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

/* Change the transparency of the chat text bar */
.scrollableContainer__74017,
.sidebar__5e434,
.member__5d473,
.member_c8ffbb
.bar_c38106 {    
    --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
    --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
    --overlay-opacity: 0.1; /* Adjust overlay opacity (0 to 1) */
    --border-color: rgba(51, 51, 51, 1); /* Base color for the border */
    --border-width: 1px; /* Border width */
    --border-style: solid; /* Border style (e.g., solid, dashed, dotted) */
    --border-opacity: 0.2; /* Border opacity (0 to 1) */
    --border-radius: 6px; /* Border radius to round the corners */

    /* Update border color with opacity */
    --border-color-with-opacity: rgba(
        51, /* Red component */
        51, /* Green component */
        51, /* Blue component */
        var(--border-opacity) /* Opacity component */
    );

    background: 
        linear-gradient(rgba(127, 127, 127, var(--overlay-opacity)), rgba(127, 127, 127, var(--overlay-opacity))),
        var(--black-hole) center/cover fixed,
        var(--stars) repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    
    border: var(--border-width) var(--border-style) var(--border-color-with-opacity);
    border-radius: var(--border-radius); /* Apply border radius for rounded corners */
}

#app-mount .member-3W1lQa  {
  border-right: 2px solid transparent;
}

#app-mount .member-3W1lQa:hover {
  background: transparent;
  border-right-color: #111;
}

#app-mount .member-3W1lQa.popout-open, 
#app-mount .member-3W1lQa.popout-open:hover,
#app-mount .codeRedemptionRedirect-3SBiCp,
#app-mount .elevationHigh__08882 {
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
}

#app-mount .elevationHigh__08882[style*="background-color: rgba(32, 34, 37, 0.9)"] {
  background: linear-gradient(to right, #111, transparent 80%), var(--veil) var(--stars) top left fixed !important;
}

#app-mount .status-2s6iDp,
#app-mount .status-2kJpnA,
#app-mount .status-1ibiUI {
  border-color: transparent;
  right: -4px;
}


  /* C. Top Bar & Typing Status */
#app-mount .search-1FM8Qc .searchBar-zdmu7v,
#app-mount .darkTheme-3uETC4.container_fea832,
#app-mount .container__33507 {
  background: transparent;
}

#app-mount .chat_f75fb0 form .typing_b88801 {
  background-color: var(--sheer);
  bottom: 100%;
  padding-left: 10px;
  z-index: 0;
  overflow: hidden;
  animation: opacity 300ms ease;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -ms-transform: scale(1);
  transform: scale(1);
  width: fit-content;
  display: -webkit-box;
  padding-right: 20px;
  padding-top: 0px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -3px 20px rgba(0, 0, 0, .1);
  opacity: 1;
  transition: all 200ms ease;
  text-overflow: ellipsis;
  z-index: 5;
}

.base_b88801 .cooldownWrapper_b21699 {
  margin-left: initial;
}

  /* D. Cards and Tiles */
.article-3kb3qm,
#app-mount .body_fedacc,
#app-mount .news-2GDtLJ,
#app-mount .wrapper_f316dd,
#app-mount .embedContainer_cbfa93,
#app-mount .carousel-2WxMes,
#app-mount .paginationItem-2lUq0s,
#app-mount .info-3NKfPL,
#app-mount .header-Qk7iwL,
#app-mount .tierHeaderLocked_a36dee,
#app-mount .tierBody_a36dee,
#app-mount .guildHeader-3nh5RK,
.wrapper__4106a,
.wrapper__4106a,
.cardFolder-3H4uH4,
.item__344e6,
.fieldList_a9178b {
  background-color: transparent;
}

.background_a9178b,
.accountList-305sx3,
.connection-107AGH,
.bumpBox_cacd02,
.group__344e6,
.container_d8f25b,
#app-mount .feature-2IUcBI,
#app-mount .container-S9SaVf,
.replyBar__841c8 {
  background-color: #111;
}

.group__344e6 {
  border-color: #111;
}

.closeIcon__972a0 {
  color: var(--uno);
}

.connectionHeader-2rV1ze,
.addMemberRow__01dab.selectedRow__01dab,
.reaction_f8896c,
.container-7Unqij,
.accountProfileCard_a9178b {
  background-color: var(--sheer);
}

.addMemberRow__01dab .checkboxWrapper_f525d3.checked_f525d3 {
  background-color: transparent !important;
  border-color: transparent !important;
}

.wrapper__260e1 {
  color: white;
}

.attachment_fc8177, 
.avatar_fc8177, 
.blob_fc8177,
.role_afdfcc:hover,
.container_d8f25b:hover,
.total__260e1,
.iconBadge__03991 {
  background-color: #111;
}

.premiumTabItem-1QTfBr[aria-selected=true] {
  color: #111 !important;
  background-color: #111 !important;
}

.premiumTabItem-1QTfBr[aria-selected=true] .icon-Zc-uZZ {
  fill: #111 !important;
}

.premiumTabItem-1QTfBr .icon-Zc-uZZ {
  margin-left: 5px;
}

.premiumTabItem-1QTfBr .flex__7c0ba {
  justify-content: center;
}

.mulitplePlaceholderUsername__27cc6, 
.placeholderAvatar__27cc6, 
.placeholderUsername__27cc6,
.role_b4b2c3,
.passthrough__344e6.selected__344e6,
.users__260e1 {
  background-color: #111;
}

.total__260e1:after {
  border-right-color: #111;
}

.disableColor-MwOAZf, 
.iconBackgroundTierNone-3MPhMJ, 
.iconBackgroundTierOne-2LhaMB, 
.iconBackgroundTierThree-3qw3JX, 
.iconBackgroundTierTwo-3bCmdc {
  color: var(--veil);
}

#app-mount .paginationItem-2lUq0s:after,
#app-mount .guildSubscriptionSlots-JPXXvN,
.actionButton_f8fa06 {
  background: var(--sheer);
}

.emptyChannelIcon__00de6,
.card-1yV8cG {
  background-color: var(--sheer);
}

.profileBannerPreview-3_l0Wd {
  background: linear-gradient(transparent, var(--uno) 90%), var(--quatro) var(--stars) top left fixed;
}

#app-mount .splashArt-3I5Qmp {
  -webkit-mask: linear-gradient(to right, transparent, rgb(0, 0, 0) 70%);
  transition: filter .2s ease-in-out;
  opacity: 1;
}

#app-mount .header_fedacc,
#app-mount .bda-slist li,
#app-mount .notDetected-2HEmAp,
#app-mount .container-2Zlzt0,
#app-mount .tier1Banner-1B_WXY,
#app-mount .emptyState-2-sT0o,
#app-mount .loading_e90879,
#app-mount .userHovered-2_fT4Z:active,
#app-mount .wrapperAudio_f316dd,
#app-mount .guildGraphicContainer-39I_Pl,
.wrapper__00943,
.peopleListItem_cc6179:hover,
#app-mount .bd-addon-list .bd-addon-card,
#app-mount .bd-addon-list .bd-addon-header,
.emptyContainer_e37a20,
.item-2idW98,
.settingCard-xZSDjS.active-3EK-ed{
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
}

#app-mount .inset_bf1984,
.descriptionBox__981f7,
.fileWrapper__0ccae,
.emojiContainer-1u-_sQ,
#app-mount .wrapperAudio_f316dd,
#app-mount .card-3_CqkU,
#app-mount .iconMask-30Tvqs,
.welcomeChannel__74a6a,
.optionContainer__949ab,
.item-2idW98[aria-checked=true]  {
  background: #111;
}

#app-mount .userHovered-2_fT4Z:active {
  border-radius: 3px;
}

#app-mount .card_b846e5:before {
  background: linear-gradient(to right, #111, var(--veil));
}

#app-mount .entitledHeader__408e5 {
  border-radius: 5px;
}

#app-mount .card-rJBFl3,
#app-mount .card_fedacc,
#app-mount .audioControls_f316dd, 
#app-mount .videoControls_f316dd,
#app-mount .tile__72090,
#app-mount .wrapper-3UweLa,
#app-mount .multipleIconWrapper-1PjkRO, 
#app-mount .section-2VKIPC,
#app-mount .card_e90879,
.upsellContainer__73000,
.upsellFooter__73000,
.analyticsCard__0dfec,
.developerPortalCtaWrapper__540ed,
.container-2w0lh0,
.header-2Y0-A-,
.previewContainer__74a6a,
.enableContainer__5ea8c,
.iconWrapper__54b20 {
  background: var(--sheer) var(--stars) top left;
  background-attachment: fixed;
}

#app-mount .splash_e90879 {
  -webkit-mask: linear-gradient(black, transparent);
  mask: linear-gradient(black, transparent);
}

#app-mount .itemBackground-2vEldQ:before {
  background: radial-gradient(ellipse at top,transparent,var(--sheer)),linear-gradient(90deg,var(--sheer) 0,transparent 40%,transparent 60%,var(--sheer)),linear-gradient(0deg,var(--sheer) 10%,transparent 70%);
}

#app-mount .carouselRightGradientEdge-2Z3H8D {
  background-image: linear-gradient(270deg,var(--sheer),transparent);
}

#app-mount .carouselLeftGradientEdge-3P4spl {
  background-image: linear-gradient(90deg,var(--sheer),transparent);
}

#app-mount .iconCircle__6efad,
#app-mount .emojiAliasInput_e7d73e .emojiInput_e7d73e,
#app-mount .mediaBarWrapper_f7877e, 
#app-mount .mediaBarWrapper_f7877e:after, 
#app-mount .mediaBarWrapper_f7877e:before,
#app-mount .tierNoneContainer-3hhK3h,
#app-mount .tierBody_a36dee,
.detailsBlock_e335a7,
.premiumSubscriptionAccountCredit__94f72,
.descriptionInput-3b30C8 {
  background: var(--sheer);
}

#app-mount .buffer_f7877e, 
#app-mount .buffer_f7877e:after, 
#app-mount .buffer_f7877e:before,
#app-mount .tierInProgress_c44edb,
#app-mount .barForeground-2kwBa_ {
  background: #111
}

#app-mount .tile-QA_yMc,
#app-mount .tileMedia-1q3guD,
#app-mount .popout-2xBvMR,
#app-mount .outer-2IVh5n,
#app-mount .popout-3G62UL,
#app-mount  .recentlyPlayedContainer-2F3MqS,
#app-mount .guildPopout-G6M0fK {
  background: var(--uno)  var(--stars) top left !important;
  background-attachment: fixed;
}

#app-mount .tile-QA_yMc:hover,
#app-mount .tileMedia-1q3guD:hover,
#app-mount .multipleIconWrapper-2TXVB4, 
#app-mount .section-3TvauS {
  background: var(--sheer)  var(--stars) top left !important;
  background-attachment: fixed;
}

#app-mount .nowPlaying_b53c4e {
  background: var(--online-sheer) var(--stars) top left fixed;
}

#app-mount .dockItem-2kQDqg:hover,
#app-mount .entitledHeader__408e5,
#app-mount .cardPrimary-3qRT__,
#app-mount .cardPrimaryEditable-2mz_3i,
#app-mount .genreTag-3QLRUJ,
#app-mount  .content_f1d99d,
#app-mount .emptyCard-3CNsz2,
#app-mount .guildGraphicBackground-UDBjuF,
#app-mount .info-3UT5_W,
#app-mount .ctaBar-2UsjF2,
#app-mount .perk-2WeBWW,
.actionButton_f8fa06.highlight_f8fa06 {
  background: #111 var(--stars) top left fixed;
}

#app-mount .cardPrimary-3qRT__,
#app-mount .cardPrimaryEditable-2mz_3i,
#app-mount .emptyApplications-3GTmw-,
#app-mount .emptyUsers--hiToV {
  border-color: var(--sheer);
}

#app-mount .wrapper__44df5 {
  background: var(--veil) var(--stars) top left fixed;
  margin-bottom: 0px;
  height: 23px;
  border-radius: 0;
}

#app-mount .nowPlaying_b53c4e .gameNameInput_b53c4e:focus, 
#app-mount .nowPlaying_b53c4e .gameNameInput_b53c4e:hover,
#app-mount .tierHeaderLocked_a36dee,
#app-mount .guildGraphicBackground-wbfC17, 
#app-mount .guildGraphicContainer-_IAetM,
#app-mount .subscriptionDuration-3WXA_o,
#app-mount .subscriptionDuration-UvxLGw,
#app-mount .tierPill-1yRO48,
#app-mount .emptyApplications-3GTmw-,
#app-mount .emptyUsers--hiToV,
.input-2g-os5.focused-1AtTHC, 
.input-2g-os5:focus {
  background-color: var(--sheer);
}

.input-2g-os5.focused-1AtTHC, 
.input-2g-os5:focus {
  border-color: #111;
}

#app-mount .mediaFade-1SdEfL {
  background: linear-gradient(180deg,transparent,var(--sheer));
}

#app-mount .gradientOverlayLeft-3w159C {
  background: linear-gradient(90deg,var(--sheer),transparent);
}

#app-mount .gradientOverlayRight-3vMuS8 {
  background: linear-gradient(90deg,transparent,var(--sheer));
}

.listingSmall__0f50c .purchaseUnit_d6d32c,
#app-mount .root__26095,
#app-mount .item-2yFVoY,
#app-mount .card-NB61oR,
#app-mount .guildSubscription-2bT8-B,
#app-mount .tier-3H4BXk,
#app-mount .guild-Hq0WWA {
  background: linear-gradient(#111, transparent 80%),var(--uno) var(--stars) top left fixed;
}

.checkmarkIcon_c85137 {
  color: var(--online);
}

#app-mount .row_c85137 {
  background: linear-gradient(to right, transparent, var(--online-sheer)),var(--uno) var(--stars) top left fixed;
}

#app-mount .purchaseUnitOperatingSystem__347b4,
#app-mount .background_c44edb {
  color: #111;
}

  /* E. Buttons, Switches, and Bars */
.headerButtonColor__619f1 {
  background-color: var(--dos);
}

.userSettingsVoice-1_dzjw .media-engine-video {
  background: transparent;
}

.toolbar_bba883 {
  background: rgba(0,0,0,0.9) var(--stars) top left !important;
  background-attachment: fixed;
}

.toolbar_bba883:before {
  border-top-color: rgba(0,0,0,0.9);
}

.active__05fbc, .hover_d0ebf2:hover {
  background-color: #111;
}

.container-2nx-BQ[style*="background-color: rgb(114, 118, 125);"] {
  background-color: #111 !important;
}

.active__05fbc .icon_bba883, .hover_d0ebf2:hover .icon_bba883 {
  color: #111;
}


#app-mount .bar-1Bhnl9,
.themeDefault-24hCdX,
#app-mount .userSettingsVoice-1_dzjw .previewOverlay-2reuWf,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch,
#app-mount .interactive-1FxC7B:hover,
#app-mount .price_afc9b2,
#app-mount .playerOverflow__450d3,
#app-mount .barBackground-unEPDT,
.primary_a41c2a:hover:not(.disabled__4d064), 
.secondary__45d4f,
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .circleButton-33AIyY {
  background-color: var(--sheer);
}

.bd-switch input:checked+.bd-switch-body {
  --switch-color: #111;
}

.bd-switch-body {
  --switch-color: var(--sheer);
}

#app-mount .tierMarkerBackground-G8FoN4 {
  background: linear-gradient(var(--sheer), var(--sheer)), var(--stars) top left, linear-gradient(var(--quatro), var(--quatro));
  background-attachment: fixed;
}

#app-mount .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  border-color: rgb(0, 0, 0);
}

#app-mount .accountBtnInner-3XK70s,
#app-mount .button-mM-y8i,
#app-mount .restoreButton-22-SIW,
#app-mount .topPill-3DJJNV .itemSelected-1qLhcL,
#app-mount .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, 
#app-mount .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected,
#app-mount .listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh,
#app-mount .pageButton-MknE-_:hover {
  background-color: var(--veil);
}

#app-mount .topPill-3DJJNV .itemSelected-1qLhcL,
#app-mount .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, 
#app-mount .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected {
  color: #111
}

#app-mount .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover, 
#app-mount .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover,
#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected:hover {
  background-color: var(--greyple-sheer);
  color: var(--greyple);
}

#app-mount .accountBtnInner-3XK70s:hover,
#app-mount .topPill-3DJJNV .item-3XjbnG:hover:not(.itemSelected-1qLhcL) {
  background-color: var(--sheer);
}

#app-mount .background__27106 {
  stroke: var(--sheer);
}

#app-mount .circleIconButton-1QV--U {
  background: transparent;
  color: #111
}

#app-mount .circleIconButton-1QV--U:hover {
  color: #111
}

#app-mount .moreUsers_b2d72f,
#app-mount .lookFilled__201d5.colorGrey-2iAG-B:hover,
#app-mount .lookFilled__201d5.colorBrand__201d5,
#app-mount .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover, 
#app-mount .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover,
#app-mount #bd-settings-sidebar .ui-tab-bar-item:hover,
#app-mount .boostCount-UFqabz,
#app-mount .tag_fea832,
#app-mount .listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh,
.bd-pfbtn:hover,
.bd-button:hover {
  background-color: #111;
}

#app-mount .lookFilled__201d5.colorBrand__201d5:hover,
.bd-addon-list .bd-card-footer button,
.bd-button,
.bd-pfbtn,
.colorable_f1ceac.primaryDark_f1ceac {
  background-color: #111
}

#app-mount .lookFilled__201d5.hoverGreen-1KfT6K.hasHover-26V98q:hover {
  background-color: var(--online-sheer);
}

#bd-pub-li {
  display: none;
}

  /* F. Change SVGs */
svg[name="Nova_Bell"] path,
svg[name="Nova_BellOff"] path,
svg[name="Nova_Pin"] path,
svg[name="Nova_People"] path,
svg[name="Nova_At"] path,
svg[name="Nova-CallJoin"] path,
svg[name="PersonWaving"] path,
svg[name="NitroWheel"] path,
svg[name="Library"] path,
svg[name="Activity"] path{
  display: none;
}

svg[name="Nova_Bell"] {
  background-color: currentColor;
  -webkit-mask: url(https://requidev.github.io/phoenix-bundle/assets/svgs/bell.svg) center/100% no-repeat;
  mask: url(https://requidev.github.io/phoenix-bundle/assets/svgs/bell.svg) center/100% no-repeat;
}

svg[name="Nova_BellOff"] {
  background-color: currentColor;
  -webkit-mask: url(https://requidev.github.io/phoenix-bundle/assets/svgs/bell-off.svg) center/100% no-repeat;
  mask: url(https://requidev.github.io/phoenix-bundle/assets/svgs/bell.svg) center/100% no-repeat;
}

svg[name="Nova_Pin"] {
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSJub25lIiBkPSJNMCwwaDI0djI0SDBWMHoiLz4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTcuOSwxMy43IDE1LjgsMTIuNiAxNS4xLDUuMyAxNi40LDUgMTYuNCwzIDcuNiwzIDcuNiw1IDguOSw1LjMgOC4yLDEyLjYgNi4xLDEzLjcgNi4xLDE1LjcgDQoJMTEsMTUuNyAxMSwyMSAxMywyMSAxMywxNS43IDE3LjksMTUuNyAiLz4NCjwvc3ZnPg0K") center/100% no-repeat;
  mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAu... (86 KB left)
