#app-mount .membersWrap_cbd271::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
    --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
    --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
    --overlay-opacity: 0.2; /* Adjust overlay opacity (0 to 1) */

    background: 
        linear-gradient(rgba(127, 127, 127, var(--overlay-opacity)), rgba(127, 127, 127, var(--overlay-opacity))),
        var(--black-hole) center/cover fixed,
        var(--stars) repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

#app-mount .title_a7d72e, 
#app-mount .titleCall-_b9o8P,
#app-mount .headerBar-UHpsPw,
#app-mount .container_e44302,
#app-mount .header_f1629a,
#app-mount .chat_a7d72e .channelTextArea_d0696b,
#app-mount .friendsTable-133bsv .friendsRow-2yicud:hover,
#app-mount .video_c8484a {
    --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
    --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
    --overlay-opacity: 0.2; /* Adjust overlay opacity (0 to 1) */

    background: 
        linear-gradient(rgba(127, 127, 127, var(--overlay-opacity)), rgba(127, 127, 127, var(--overlay-opacity))),
        var(--black-hole) center/cover fixed,
        var(--stars) repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

.members_cbd271 {    
    --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
    --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
    --overlay-opacity: 0.2; /* Adjust overlay opacity (0 to 1) */

    background: 
        linear-gradient(rgba(127, 127, 127, var(--overlay-opacity)), rgba(127, 127, 127, var(--overlay-opacity))),
        var(--black-hole) center/cover fixed,
        var(--stars) repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

#app-mount ::-webkit-scrollbar {
    width: 16px; /* Width of the scrollbar */
    height: 16px; /* Height of the scrollbar */
}

#app-mount ::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.2); /* Color of the scrollbar thumb */
    border-radius: 8px; /* Rounded corners for the scrollbar thumb */
}

